
$arkaplan_resim_url: "arkaplan_resim_url.jpg"; 
$gecirgen_siyah: rgba(227, 227, 227, 0.6);

$font-family-montserrat: 'Montserrat', sans-serif;

body {
  background-image: url($arkaplan_resim_url);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.main-content {
  background-color: $gecirgen_siyah;
  
  h1,
  p {
    color: #fff; 
  }
}
